*.egg-info
*.mo
*.pyc
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
.settings
pyvenv.cfg
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
var/
dist/
local/
